<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>

    <h1>Welcome to home page</h1>

    <% (user) { %>
        <a href="/profile">Go To Profile Page</a>
    <% } else {%>
         <a href="/auth/login">Go To Login</a>
    <% } %>
    
</body>
</html>