<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loggin</title>
</head>
<body>

    <h2>This is loggin page</h2>

    <a href="/">home</a>

    <br>

    <a href="/auth/google/loggin">continue with google</a>
    
    
</body>
</html>